[submodule "SOC_EOS_S3_Application_With_LPC_peripheral/fpga/rtl/lpc_peripheral"]
	path = SOC_EOS_S3_Application_With_LPC_peripheral/fpga/rtl/lpc_peripheral
	url = git@github.com:lpn-plant/lpntpm-lpc-verilog.git
